useDynLib(anRpackage, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(MixSim,MixSim)
importFrom(lubridate,day)
importFrom(lubridate,month)
importFrom(mvtnorm,rmvnorm)
importFrom(invgamma,rinvgamma)
importFrom(LaplacesDemon,pst)
import(scoringRules)
exportPattern("^[[:alpha:]]+")
